#Countlable{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;

}
#btncontainer{
    text-align: center;
}
.buttons{
    font-size: 1.5em;
    color: hsl(0, 1%, 41%);
    background-color: hsl(180, 100%, 49%);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(180, 88%, 33%);
}